.after-header {
  color: #fff;
  max-width: 608px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 80px 16px;
}

.after-header__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 60px;
  line-height: 1.1;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

.after-header__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 32px 0 0;
  max-width: 580px;
}

@media screen and (max-width: 1023px) {
  .after-header {
    max-width: 452px;
    padding-top: 38px;
    padding-bottom: 48px;
  }
  .after-header__title {
    font-size: 36px;
    max-width: 385px;
  }
}

@media screen and (max-width: 424px) {
  .after-header {
    padding-top: 30px;
    padding-bottom: 32px;
  }
}
