.preloader {
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
  padding: 80px 0;
  display: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.preloader__visible {
  display: flex;
}

.preloader__container {
  max-width: 356px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preloader__container_visible {
  display: flex;
}

.preloader__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 16px;
}

.preloader__text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  margin: 0;
}

.circle-preloader__container {
  display: none;
  flex-direction: column;
}

.circle-preloader__container_visible {
  display: flex;
}

.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;

  border-radius: 50%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto 24px;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
